<h1>List of Classes</h1>

<ul>
  <% for fitness_class in @fitness %>
  <li>
  <p><%= fitness_class.lesson_name %>
  </p>
    <p>
      <form action="/fitness_class/<%= fitness_class.id %>/delete" method="POST">
      </form>
    </p>
  </li>
  <% end %>
</ul>
