<h1>Fitness Class</h1>

<form action="/fitness" method="POST">

  <p><label for="lesson-name">First Name:</label>
    <input id="lesson_name" type="text" name="lesson_name" required/></p>

  <input type="submit" value="Select Class!"/>
</form>
