<h1>Fitness Class</h1>

<form action="/fitness_class" method="POST">

  <p><label for="lesson-name">Lesson Name:</label>
    <input id="lesson_name" type="text" name="lesson_name" required/></p>
</form>
