<h1>Bookings</h1>

<table>
  <tr>
    <th>first_name</th>
    <th></th>
    <th>fitness_class</th>
  </tr>
  <% for booking in @bookings %>
  <tr>
    <td><a href="/bookings/<%= bookings.id %>"><%= bookings.name %></a></td>
    <td>|</td>
    <td><%= fitness_class.type %></td>
  </tr>
  <% end %>
</table>
