<h1>Bookings</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/bookings/show">Book a Class</a>
</p>

<ul>
  <% for bookings in @bookings %>
  <li>
  <p><%= bookings.bookings_name %>
  </p>
    <p>
      <form action="/bookings/<%= bookings.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </p>
  </li>
  <% end %>
</ul>
