<h1>New Customer</h1>

<form action="/customers" method="POST">

  <p><label for="first-name">First Name:</label>
    <input id="first_name" type="text" name="first_name" required/></p>

  <p><label for="last-name">Last Name:</label>
    <input id="last-name" type="text" name="last_name" required/></p>

  <p><label for="age">Age:</label>
    <input id="age" type="number" name="age" required /></p>

  <p><label for="gender">Gender:</label>
    <input id="gender" type="text" gender="gender" required/></p>

  <input type='submit' value="Joined!"/>
</form>
