<h1>New Customer</h1>

<form action="/customer" method="post">
  <label>
    Select a fitness class:
    <select name="fitness_class_id">
      <% for fitness_class in @fitness_class %>
      <option value="<%= fitness.id %>"><%= fitness.name %></option>
      <% end %>
    </select>
  </label>

  <input class="btn btn--action" type='submit' value="Joined!">
</form>
